.sidebar {
  height: 100vh;
  flex-direction: column;
  flex: 0.2;
  color: white;
  min-width: 230px;
  background-color: #040404;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarLogo {
  /* keeps aspect ration */
  object-fit: contain;
  height: 70px;
  padding: 10px;
  margin-right: auto;
}

.sidebarTitle {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
